
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  
  ::-webkit-scrollbar-track {
    margin-top:12px;
    margin-bottom:12px;
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #ADB2B8;
  height: 4px;
  width:4px;
  border-radius:2px;
  
  }
  body {
     height: 100%;
     width: 100%;
    font-size: 16px;
}
