@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    
  }
  
  ::-webkit-scrollbar-track {
    margin-top:12px;
    margin-bottom:12px;
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #ADB2B8;
  height: 4px;
  width:4px;
  border-radius:2px;
  
  }